@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import "./button.scss";
@import "./header.scss";
@import "./main.scss";

body { 
  font-family: arial;
  background: #303841;
  color: #EEEEEE;
}

.gif {
  margin-left: 37%;
}